<style>
    * {
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
</style>
<meta charset="utf-8">
<title>Vozíčkářské noviny</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<iframe src="http://vozickarskenoviny.cz"></iframe>

